button {
  height: 50px;
  width: 50px;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 5px;
  align-content: end;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}